:root {
  --white: #ffffff;
  --dark-blue: #151e4b;
  --blue: #232846;
  --light-blue: #5f658b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  background: #eee;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1136px;
  min-height: 875px;
  padding: 70px 60px;
  margin: 60px auto;
  background: var(--white);
  border-radius: 3px;
}
span {
  color: var(--dark-blue);
}
.content {
  display: flex;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.container h1 {
  color: var(--dark-blue);
  font-size: 32px;
  margin: 20px 0 30px 0;
}
.container h2 {
  color: var(--dark-blue);
  font-size: 16px;
  margin-bottom: 20px;
}
.container h3 {
  color: var(--white);
  font-size: 16px;
  padding: 50px 60px 15px 50px;
}
.container h4 {
  color: var(--white);
  font-size: 16px;
  padding: 0 60px 30px 50px;
}

.container p {
  color: var(--light-blue);
  font-size: 16px;
}

img {
  width: 100%;
  margin-bottom: 20px;
}

.card-right {
  background-color: var(--dark-blue);
  color: var(--white);
  max-width: 302px;
  height: 443px;
  border-radius: 3px;
  box-shadow: 0px 24px 15px -20px rgba(9, 22, 89, 0.503865);
  margin-left: 30px;
}

button {
  width: 145px;
  height: 46px;
  margin-left: 50px;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: none;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .card-right {
    width: 265px;
    height: 322px;
    margin: none;
  }
  button {
    margin-bottom: 20px;
  }
}
